{% extends "base.html" %}

{% block container %}
<div class="jumbotron page-header">
  <h1>Saúde móvel</h1>
    <p class="text-justify">Com a popularização da internet móvel e os avanços na tecnologia da informação e
    comunicação, surgiu nos últimos anos um crescente movimento de pesquisa e inovação que propõe a
    utilização dos dispositivos móveis (celulares, tablets e outros dispositivos inteligentes sem fio) no
    cuidado à saúde.</p>
    <p class="text-justify">As soluções baseadas em saúde móvel, também conhecida como “Mobile Health” ou
    “mHealth”, estão fortemente associadas a revolução IOT “Internet das coisas”. A mHealth propõe
    resolver ou minimizar os problemas emergentes nos serviços de saúde, incluindo o crescente número
    de doenças crônicas relacionadas ao estilo de vida, alto custo dos serviços nacionais de saúde e a
    necessidade de fomentar a importância do autocuidado e da saúde preventiva. Nesse contexto, a
    mHealth oferece serviços que superam barreiras geográficas, temporais e até organizacionais.</p>
  <p><a class="btn btn-primary" href="{% url 'presentation' %}">Saiba mais</a></p>
</div>
{% endblock %}
