{% extends "base.html" %}
{% load staticfiles%}

{% load widget_tweaks %}

{% block title %}
Saúde Móvel | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7PwEETuGoP0" frameborder="0"
                    allowfullscreen></iframe>
        </div>

        <div class="col-md-6">
            Entenda o funcionamento da nossa solução m-Health de uma forma simples e descomplicada, assista o vídeo!
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3><i class="fa fa-globe" aria-hidden="true"></i> Sistema web para gestão da saúde</i>
        </h3></div>
        <div class="panel-body">
            <p>A qualquer hora e lugar, médicos poderão consultar o prontuário médico ou monitorar em tempo real a saúde dos pacientes.</p>
            <p><a class="btn btn-primary" href="{% url 'monitoring' %}">Veja uma demonstração</a></p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3><i class="fa fa-mobile" aria-hidden="true"> Aplicativo para o seu celular</i>
        </h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'assets/images/screenshot_app_android.png' %}" class="img-thumbnail"
                         alt="Download MobileHealthApp"
                         width="304" height="236">
                </div>
                <div class="col-md-6">
                    <p>Realize o download e instalação do aplicativo MobileHealthApp em seu celular android.</p>
                    <p><a href="{% static 'assets/download/MobileHealthAPP.apk' %}">Faça o download clicando aqui!</a>
                    </p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{% static 'assets/images/screenshot_tela_principal.jpg' %}">
                            <div class="caption">
                                <p></p>
                            </div>
                            <img src="{% static 'assets/images/screenshot_tela_principal.jpg' %}" style="width:100%">
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{% static 'assets/images/screenshot_menu_opcoes.jpg' %}">
                            <div class="caption">
                                <p></p>
                            </div>
                            <img src="{% static 'assets/images/screenshot_menu_opcoes.jpg' %}" style="width:100%">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{% static 'assets/images/screenshot_qrcode.jpg' %}">
                            <div class="caption">
                                <p></p>
                            </div>
                            <img src="{% static 'assets/images/screenshot_qrcode.jpg' %}" style="width:100%">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{% static 'assets/images/screenshot_mensagens.jpg' %}">
                            <div class="caption">
                                <p></p>
                            </div>
                            <img src="{% static 'assets/images/screenshot_mensagens.jpg' %}" style="width:100%">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{% static 'assets/images/screenshot_mensagem_detalhe.jpg' %}">
                            <div class="caption">
                                <p></p>
                            </div>
                            <img src="{% static 'assets/images/screenshot_mensagem_detalhe.jpg' %}" style="width:100%">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{% static 'assets/images/screenshot_emergencia.jpg' %}">
                            <div class="caption">
                                <p></p>
                            </div>
                            <img src="{% static 'assets/images/screenshot_emergencia.jpg' %}" style="width:100%">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
