{% extends "base.html" %}

{% block container %}
<div class="jumbotron page-header">
  <h1>Saúde móvel</h1>
  <p>O mobile health ou simplesmente mHealth é um termo usado para a prática da medicina e da saúde pública apoiado por dispositivos móveis, como celulares e tablets.</p>
  <p>Essa é uma tendência que busca diminuir as barreiras entre os serviços de saúde e a população em geral, apoiado pelo uso da tecnologia, incluindo redes sem fio, coleta de dados, big data, entre outros.</p>
  <p>A nova geração de consumidores e pacientes vive uma vida corrida, na qual as pessoas estão sempre buscando respostas rápidas, de preferência online.</p>
  <p><a class="btn btn-primary" href="{% url 'presentation' %}">Saiba mais</a></p>
</div>
{% endblock %}
