{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Saúde Móvel | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
<iframe width="800" height="491" src="http://www.powtoon.com/embed/g0C0kSy4H60/" frameborder="0"></iframe>

<i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
<i class="fa fa-database fa-5x" aria-hidden="true"></i>
<i class="fa fa-heartbeat fa-5x" aria-hidden="true"></i>
<i class="fa fa-ambulance fa-5x" aria-hidden="true"></i>
<i class="fa fa-user-md fa-5x" aria-hidden="true"></i>
<i class="fa fa-medkit fa-5x" aria-hidden="true"></i>




</div>
{% endblock %}
